<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/loginpage.css" th:href="@{/css/loginpage.css}"/>
    <meta http-equiv="refresh" content="2; URL='http://localhost:8080/'" />
</head>

<body style="font-family:'Hannari'">
    <div class="container-fluid" layout:fragment="content">
        <h1><a href="/"></a></h1>
        
        
        <div class="katamari01">
        	<br>
        	<div class="img01"><img src="/image/signupflow3.png" style="width:50%;"/></div>
            
            
            
            
			<h3>ログインページへ遷移します...</h3>
            <div th:if="${param.error}" class="alert alert-danger">
                これは正式なアクセスではありません。
            </div>
            <div class="loader"></div>
            
            
        </div>
        
    </div>
</body>

</html>
