<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head>
<title>jobhunter</title>
<meta charset="utf-8" />

<link rel="stylesheet" href="/css/loginpage.css" th:href="@{/css/loginpage.css}"/>

</head>

<body style="font-family: 'Hannari'">
	<div class="container-fluid" layout:fragment="content">
		<h1>
			<a href="/" style=""></a>
			</h1>
		<form class="form-signin" method="post" th:action="@{/studentconf}"
			action="/signupsub2" style="width: 50%;">
			
			<div class="main">
				<h2 class="form-signin-heading"></h2>
			</div>


			<br>
			<div class="center">
				<p class="form1">
					<input type="text" class="form-control" id="stdcord" name="stdcord"
						placeholder="卒業学年認証コード" required="required" autofocus="autofocus" style="width:300px;margin:0 auto;"/>
				</p>
				<br>
				<p class="form2">
					<button class="btn btn-lg btn-primary btn-block" type="submit">認証</button>
				</p>
				<br>
				
			</div>
		</form>
	</div>
</body>
</html>