<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head>

<link rel="stylesheet" href="/css/menupage.css"
	th:href="@{/css/menupage.css}" />

<title>jobhunter</title>
<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1">

<link href="/css/simple-sidebar.css" rel="stylesheet">

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">

</head>
<body>
	<div class="container-fluid" layout:fragment="content">
		<div class="row">
			<nav class="col-md-2 d-none d-md-block bg-light sidebar" style="position:fixed;">
				<img src="image/JOB-HUNTER.png" class="img-fluid">
				<div class="block2">
					<div class="sidebar-sticky">
						<ul class="nav flex-column">
							<li class="nav-item">&nbsp;</li>
							<li class="nav-item">&nbsp;</li>
							<li class="nav-item"><a class="nav-link" href="/menu1">トップメニュー</a></li>
							<li class="nav-item"><a class="nav-link" href="/p1main">申請機能</a></li>
							<li class="nav-item"><a class="nav-link" href="/p2main">報告機能</a></li>
							<li class="nav-item"><a class="nav-link active" href="/p3main">閲覧機能</a></li>
							<li class="nav-item"><a class="nav-link" href="/p4main">申請待ちリスト</a></li>
							<li class="nav-item"><a class="nav-link" href="/p5main">報告待ちリスト</a></li>
						</ul>
						<ul class="nav flex-column">
							<li class="nav-item">&nbsp;</li>
							<li class="nav-item">&nbsp;</li>
							<li class="nav-item">&nbsp;</li>
							<li class="nav-item">&nbsp;</li>
							<li class="nav-item">&nbsp;</li>
							<li class="nav-item"><a class="nav-link" href="/">ログアウト</a></li>
						</ul>
					</div>
				</div>
			</nav>

			<main role="main" class="ml-sm-auto col-md-10 px-4 m1">



				<div class="t1 col-md-12 positon-fixed">
					<h1>　閲覧機能</h1>
					&nbsp;	
					<div class="col-md-12 ml-5">
					<form action="#">
					
							<small class="form-text text-muted">閲覧したい企業名の先頭３文字をカタカナで入力してください。</small>
							
								<input type="text" name="sanmoji" class="form-control form-control-lg col-4" maxlength="3">
								<br/>
								<button type="submit" class="btn btn-primary btn-lg" >検索</button>
							
					</form>
					</div>
				</div>
				<div class="t2">
					<div class="col-11 ml-5">
						<table class="table table-hover">
							<thead>
								<tr>
									<th>企業名</th>
									<th>内容</th>
									<th>日にち</th>
									
									<th class="bb"></th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="ReportForm:${ReportFormList}" th:object="${ReportForm}">
								
									<td th:text="*{kigyoumei}"></td>
									<td th:text="*{naiyou1}"></td>
									<td th:text="*{hiniti}"></td>	
									<td>
										<form th:action="@{/p3/{id}/p3result(id=*{id})}" method="get">
                            			<input class="btn btn-outline-success btn-lg" type="submit" value="閲覧" />
                        				</form>
                        			</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>

			</main>
		</div>
	</div>
</body>
</html>