<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head>

<link rel="stylesheet" href="/css/menupage.css"
	th:href="@{/css/menupage.css}" />

<title>jobhunter</title>
<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1">

<link href="/css/simple-sidebar.css" rel="stylesheet">

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">

</head>
<body>
	<div class="container-fluid" layout:fragment="content">
		<div class="row"> 
			<nav class="col-md-2 d-none d-md-block bg-light sidebar" style="position:fixed;">
				<img src="../../image/JOB-HUNTER.png" class="img-fluid">
				<div class="block2">
					<div class="sidebar-sticky">
						<ul class="nav flex-column">
							<li class="nav-item">&nbsp;</li>
							<li class="nav-item">&nbsp;</li>
							<li class="nav-item"><a class="nav-link" href="/menu1">トップメニュー</a></li>
							<li class="nav-item"><a class="nav-link" href="/p1main">申請機能</a></li>
							<li class="nav-item"><a class="nav-link" href="/p2main">報告機能</a></li>
							<li class="nav-item"><a class="nav-link active" href="/p3main">閲覧機能</a></li>
							<li class="nav-item"><a class="nav-link" href="/p4main">申請待ちリスト</a></li>
							<li class="nav-item"><a class="nav-link" href="/p5main">報告待ちリスト</a></li>
						</ul>
						<ul class="nav flex-column">
							<li class="nav-item">&nbsp;</li>
							<li class="nav-item">&nbsp;</li>
							<li class="nav-item">&nbsp;</li>
							<li class="nav-item">&nbsp;</li>
							<li class="nav-item">&nbsp;</li>
							<li class="nav-item"><a class="nav-link" href="/">ログアウト</a></li>
						</ul>
					</div>
				</div>
			</nav>

			<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4 m1">
				<div class="t1 col-md-12 position-fixed">
					<h1>　閲覧機能（検索結果画面）</h1>
					&nbsp; 
					<br />
					<div class="ml-5">
					<a href="#" onclick="history.back(); return false;">
						<button type="submit" class="btn btn-primary btn-lg">戻る</button>
					</a>
					</div>
				</div>
				<div class="t2" style="padding-top:170px;">
					<div class="col-11 ml-5">
						<div class="card">
							<h5 class="card-header">企業名</h5>
							<div class="card-body" th:text="${Repform.kigyoumei}"></div>
						</div>
						<br/>
						<div class="card">
							<h5 class="card-header">日時</h5>
							<div class="card-body" th:text="${Repform.hiniti}"></div>
						</div>
						<br/>
						<div class="card">
							<h5 class="card-header">受験場所</h5>
							<div class="card-body" th:text="${Repform.jyukenbasyo}"></div>
						</div>
						<br/>
						<div class="card">
							<h5 class="card-header">試験内容</h5>
							<div class="card-body" th:text="${Repform.naiyou1}"></div>
						</div>
						<br/>
						<div class="card">
							<h5 class="card-header">面接概要</h5>
							<div class="card-body">
								面接官：<p th:text="${Repform.ninzu}">人</p>
								面接時間：<p th:text="${Repform.jikan}"></p>
							</div>
						</div>
						<br/>
						<div class="card">
							<h5 class="card-header">質問内容</h5>
							<div class="card-body">
								<p th:text="${Repform.syutudainaiyou}"></p>
							</div>
						</div>
						<form th:action="@{/p5/{id}(id=*{id})}" th:method="post">
						<label>教員コメント</label>
							<small class="form-text text-muted">指摘内容を入力してください。</small>
							<textarea class="form-control" rows="3" name="komento"></textarea>
						 <br/>
						<div align="center">
							<button type="submit"
									class="col-4 btn btn-outline-success btn-lg" name="status" value="permission">承認</button>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<button type="submit"
									class="col-4 btn btn-outline-danger btn-lg" name="status" value="refusal">拒否</button>
						</div>
						</form>
						

					</div>
				</div>
			</main>
		</div>
	</div>
</body>
</html>