<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    
<title>jobhunter</title>
<meta charset="utf-8" />
<link rel="stylesheet" href="/css/loginpage.css" th:href="@{/css/loginpage.css}"/>
</head>
<body>
	<div class="container-fluid" layout:fragment="content">
		<h1><a href="/"></a></h1>
        
		<form class="form-signin" method="post" th:action="@{/mailconf}" style="width: 50%;">
            <br>
        	<div class="img01"><img src="/image/signupflow1.png" style="width:50%;"/></div>
            
            <h3>メール送信完了</h3>
            <small>本登録用URLを送信しました。メールボックスを確認してください。</small>
            
            <br/><br/>
            <a href="https://mail.google.com/"><img src="/image/gaicon.png" style="width:10%;"/></a>
            <br/><br/>
            
		</form>
		
	</div>
</body>
</html>