<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head>

<link rel="stylesheet" href="/css/menupage.css"
	th:href="@{/css/menupage.css}" />

<title>jobhunter</title>
<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1">

<link href="/css/simple-sidebar.css" rel="stylesheet">

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">

</head>
<body>
	<div class="container-fluid" layout:fragment="content">
		<div class="row">
			<nav class="col-md-2 d-none d-md-block bg-light sidebar" style="position:fixed;">
				<img src="../../image/JOB-HUNTER.png" class="img-fluid">
				<div class="block2">
					<div class="sidebar-sticky">
						<ul class="nav flex-column">
							<li class="nav-item">&nbsp;</li>
							<li class="nav-item">&nbsp;</li>
							<li class="nav-item"><a class="nav-link" href="/menu1">トップメニュー</a></li>
							<li class="nav-item"><a class="nav-link" href="/p1main">申請機能</a></li>
							<li class="nav-item"><a class="nav-link" href="/p2main">報告機能</a></li>
							<li class="nav-item"><a class="nav-link" href="/p3main">閲覧機能</a></li>
							<li class="nav-item"><a class="nav-link active" href="/p4main">申請待ちリスト</a></li>
							<li class="nav-item"><a class="nav-link" href="/p5main">報告待ちリスト</a></li>
						</ul>
						<ul class="nav flex-column">
							<li class="nav-item">&nbsp;</li>
							<li class="nav-item">&nbsp;</li>
							<li class="nav-item">&nbsp;</li>
							<li class="nav-item">&nbsp;</li>
							<li class="nav-item">&nbsp;</li>
							<li class="nav-item"><a class="nav-link" href="/">ログアウト</a></li>
						</ul>
					</div>
				</div>
			</nav>

			<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4 m1">
				<div class="t1 col-md-12">
					<h1>申請待ちリスト（内容確認画面）</h1>
					&nbsp; <br /> <a href="/p4main"><button type="submit"
							class="btn btn-primary btn-lg">戻る</button></a>
				</div>
				<div class="t2" style="padding-top: 20%;">
					<div class="col-11 ml-5">
						<div class="card">
							<h5 class="card-header">日にち</h5>
							<div class="card-body" th:text="${Appform.hiniti}"></div>
						</div>
						<br />
						<div class="card">
							<h5 class="card-header">開始時間</h5>
							<div class="card-body" th:text="${Appform.starttime}"></div>
						</div>
						<br />
						<div class="card">
							<h5 class="card-header">終了時間</h5>
							<div class="card-body" th:text="${Appform.endtime}"></div>
						</div>
						<br />
						<div class="card">
							<h5 class="card-header">場所</h5>
							<div class="card-body" th:text="${Appform.basyo}"></div>
						</div>
						<br />
						<div class="card">
							<h5 class="card-header">内容</h5>
							<div class="card-body" th:text="${Appform.naiyou}">
								
							</div>
						</div>
						<br />
						<div class="card">
							<h5 class="card-header">企業名</h5>
							<div class="card-body">
								<p th:text="${Appform.kigyoumei1}"></p>
								<p th:text="${Appform.kigyoumei2}"></p>
								<p th:text="${Appform.kigyoumei3}"></p>
							</div>
						</div>
						<br/>
						<div class="card">
							<h5 class="card-header">欠席日</h5>
							<div class="card-body" th:text="${Appform.kessekibi}">
							</div>
						</div>
						<br/>
						<div class="card">
							<h5 class="card-header">早退日</h5>
							<div class="card-body" th:text="${Appform.soutaibi}">
							</div>
						</div>
						<br/>
						<div class="card">
							<h5 class="card-header">早退時間</h5>
							<div class="card-body" th:text="${Appform.soutaijikan}">
							</div>
						</div>
						<br/>
						<div class="card">
							<h5 class="card-header">遅刻日</h5>
							<div class="card-body" th:text="${Appform.tikokubi}">
							</div>
						</div>
						<br/>
						<div class="card">
							<h5 class="card-header">遅刻時間</h5>
							<div class="card-body" th:text="${Appform.tikokujikan}">
							</div>
						</div>
						<br/>
						<div class="card">
							<h5 class="card-header">メモ</h5>
							<div class="card-body" th:text="${Appform.memo}">
							</div>
						</div>
						<br/>
						<form th:action="@{/p4/{id}(id=*{id})}" th:method="post">
						<label>教員コメント</label>
							<small class="form-text text-muted">指摘内容を入力してください。</small>
							<input type="text" class="form-control"  name="komento">
						 <br/>
						<div align="center">
							<button type="submit"
									class="col-4 btn btn-outline-success btn-lg" name="status" value="permission">承認</button>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<button type="submit"
									class="col-4 btn btn-outline-danger btn-lg" name="status" value="refusal">拒否</button>
						</div>
						</form>
					</div>
				</div>


			</main>
		</div>
	</div>
</body>
</html>