<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head>

<link rel="stylesheet" href="/css/menupage.css"
	th:href="@{/css/menupage.css}" />

<title>jobhunter</title>
<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1">

<link href="/css/simple-sidebar.css" rel="stylesheet">

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">

</head>
<body>
	<div class="container-fluid" layout:fragment="content">
		<div class="row">
			<nav class="col-md-2 d-none d-md-block bg-light sidebar">
				<div class="block1">
					<a href="#"></a>
				</div>
				<div class="block2">
					<div class="sidebar-sticky">
						<ul class="nav flex-column">
							<li class="nav-item">&nbsp;</li>
							<li class="nav-item">&nbsp;</li>
							<li class="nav-item">&nbsp;</li>
							<li class="nav-item">&nbsp;</li>
							<li class="nav-item">&nbsp;</li>
							<li class="nav-item">&nbsp;</li>
							<li class="nav-item">&nbsp;</li>
							<li class="nav-item">&nbsp;</li>
							<li class="nav-item"><a class="nav-link" href="/menu1">トップメニュー</a></li>
							<li class="nav-item"><a class="nav-link" href="/p1main">申請機能</a></li>
							<li class="nav-item"><a class="nav-link" href="/p2main">報告機能</a></li>
							<li class="nav-item"><a class="nav-link" href="/p3main">閲覧機能</a></li>
							<li class="nav-item"><a class="nav-link active" href="/p4main">申請待ちリスト</a></li>
							<li class="nav-item"><a class="nav-link" href="/p5main">報告待ちリスト</a></li>
						</ul>
						<ul class="nav flex-column">
							<li class="nav-item">&nbsp;</li>
							<li class="nav-item">&nbsp;</li>
							<li class="nav-item">&nbsp;</li>
							<li class="nav-item">&nbsp;</li>
							<li class="nav-item">&nbsp;</li>
							<li class="nav-item"><a class="nav-link" href="/">ログアウト</a></li>
						</ul>
					</div>
				</div>
			</nav>

			<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4 m1">



				<div class="t1 col-md-12">
					<h1>申請待ちリスト</h1>
					&nbsp;
					<h3>申請内容を確認して申請を承認もしくは拒否してください。</h3>
					<br>
						<script>
							function koshin() {
								location.reload();
							}
						</script>

						<button type="button" class="btn btn-primary btn-lg" onclick="koshin()">更新</button>
				</div>
				<div class="t2">
					<div class="col-11 ml-5">
						<table class="table table-hover">
							<thead>
								<tr>
									<th>申請日</th>
									<th>内容</th>
									<th>企業名</th>
									<th class="bb"></th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>11/1</td>
									<td>単独</td>
									<td>企業A</td>
									<td><a href="/p4success"><button type="button" class="btn btn-outline-warning btn-lg">内容確認</button></a></td>
								</tr>
								<tr>
									<td>11/2</td>
									<td>２次試験</td>
									<td>企業B</td>
									<td><a href="/p4success"><button type="button" class="btn btn-outline-warning btn-lg">内容確認</button></a></td>
								</tr>
								<tr>
									<td>11/3</td>
									<td>最終試験</td>
									<td>企業C</td>
									<td><a href="/p4success"><button type="button" class="btn btn-outline-warning btn-lg">内容確認</button></a></td>
								</tr>
								<tr>
									<td>11/4</td>
									<td>１次試験</td>
									<td>企業D</td>
									<td><a href="/p4success"><button type="button" class="btn btn-outline-warning btn-lg">内容確認</button></a></td>
								</tr>
								<tr>
									<td>11/5</td>
									<td>１次試験</td>
									<td>企業E</td>
									<td><a href="/p4success"><button type="button" class="btn btn-outline-warning btn-lg">内容確認</button></a></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>

			</main>
		</div>
	</div>
</body>
</html>