<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head>

<link rel="stylesheet" href="/css/menupage.css"
	th:href="@{/css/menupage.css}" />

<title>jobhunter</title>
<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1">

<link href="/css/simple-sidebar.css" rel="stylesheet">

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">

</head>
<body>
	<div class="container-fluid" layout:fragment="content">
		<div class="row">
			<nav class="col-md-2 d-none d-md-block bg-light sidebar" style="position:fixed;">
				<img src="../../image/JOB-HUNTER.png" class="img-fluid">
				<div class="block2">
					<div class="sidebar-sticky">
						<ul class="nav flex-column">
							<li class="nav-item">&nbsp;</li>
							<li class="nav-item">&nbsp;</li>
							<li class="nav-item"><a class="nav-link" href="/menu1">トップメニュー</a></li>
							<li class="nav-item"><a class="nav-link" href="/p1main">申請機能</a></li>
							<li class="nav-item"><a class="nav-link active" href="/p2main">報告機能</a></li>
							<li class="nav-item"><a class="nav-link" href="/p3main">閲覧機能</a></li>
							<li class="nav-item"><a class="nav-link" href="/p4main">申請待ちリスト</a></li>
							<li class="nav-item"><a class="nav-link" href="/p5main">報告待ちリスト</a></li>
						</ul>
						<ul class="nav flex-column">
							<li class="nav-item">&nbsp;</li>
							<li class="nav-item">&nbsp;</li>
							<li class="nav-item">&nbsp;</li>
							<li class="nav-item">&nbsp;</li>
							<li class="nav-item">&nbsp;</li>
							<li class="nav-item"><a class="nav-link" href="/">ログアウト</a></li>
						</ul>
					</div>
				</div>
			</nav>

			<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
				<div class="t1 col-md-12 position-fixed">
					<h1>　報告機能</h1>
					&nbsp;
					<div class="col-md-12">
					<h3 class="marquee">教員コメントを見て受験内容を編集しましょう。</h3>
					</div>
					<br/>
					<div class="ml-5">
					<a href="#" onclick="history.back(); return false;">
						<button type="submit" class="btn btn-primary btn-lg">戻る</button>
					</a>
					</div>
				</div>
				<div class="t2 col-md-8" style="left: 15%; padding-top: 160px;">
					<form th:action="@{/p2/{id}(id=*{id})}" th:method="post" th:object="${Repform}">
						<div class="form-group">
							<br />
							
							
							<label>企業名&nbsp;<span class="badge badge-danger">必須</span></label>
							<small class="form-text text-muted">就職試験を受験する企業名を入力してください。</small>
							<input type="text" class="form-control form-control-lg" name="kigyoumei" th:field="*{kigyoumei}" required>
							<br />
							
							<label>先頭カナ３文字&nbsp;<span class="badge badge-danger">必須</span></label>
							<small class="form-text text-muted">企業名の先頭３文字をカタカナで入力してください。</small>
							<input type="text" class="form-control form-control-lg" maxlength="3" name="sanmoji" th:field="*{sanmoji}" pattern="[\u30A1-\u30F6]*" required>
							<br />
							
							
							<label>企業を知ったきっかけ</label><br />
							<select class="form-control form-control-lg" name="checks" th:field="*{checks}">
								<option value="学校斡旋">学校斡旋</option>
								<option value="ネット">ネット</option>
								<option value="新聞・雑誌">新聞・雑誌</option>
								<option value="ジョブカフェ">ジョブカフェ</option>
								<option value="その他">その他</option>
							</select>
							<br />
							
							<label>日にち&nbsp;<span class="badge badge-danger">必須</span></label>
							<small class="form-text text-muted">就職活動を行う日にちを入力してください。</small>
							<input type="date" class="form-control form-control-lg" name="hiniti" th:field="*{hiniti}" required>
							<br />
							
							<label>開始時間&nbsp;<span class="badge badge-danger">必須</span></label>
							<small class="form-text text-muted">就職活動が始まる時間を入力してください。</small>
							<input type="time" class="form-control form-control-lg" name="starttime" th:field="*{starttime}" required>
							<br />
							
							<label>終了時間</label>
							<small class="form-text text-muted">就職活動が終わる時間を入力してください。</small>
							<input type="time" class="form-control form-control-lg" name="endtime" th:field="*{endtime}">
							<br />
							
							<label>受験場所（住所もしくは名称）&nbsp;<span class="badge badge-danger">必須</span></label>
							<small class="form-text text-muted">就職試験を受験する場所（住所もしくは名称）を入力してください。</small>
							<input type="text" class="form-control form-control-lg" name="jyukenbasyo" th:field="*{jyukenbasyo}" required>
							<br />
							
							<label>内容１&nbsp;<span class="badge badge-danger">必須</span></label>
							<small class="form-text text-muted">就職試験の段階を選択してください。</small>
							<select class="form-control form-control-lg" name="naiyou1" th:field="*{naiyou1}" required>
								<option value=""></option>
								<option value="1次試験">１次試験</option>
								<option value="2次試験">２次試験</option>
								<option value="3次試験">３次試験</option>
								<option value="最終試験">最終試験</option>
							</select>
							<br />
							
							<label>内容２&nbsp;<span class="badge badge-secondary">任意</span></label>
							<small class="form-text text-muted">就職試験の大まかな内容を選択してください。</small>
							<select class="form-control form-control-lg" name="naiyou2"th:field="*{naiyou2}" >
								<option value=""></option>
								<option value="面接">面接</option>
								<option value="適性">適性</option>
								<option value="筆記・作文">筆記・作文</option>
								<option value="ディスカッション">ディスカッション</option>
								<option value="グループワーク">グループワーク</option>
							</select>
							<br />
							
							<label>内容３&nbsp;<span class="badge badge-secondary">任意</span></label>
							<small class="form-text text-muted">就職試験の種類を選択してください。</small>
							<select class="form-control form-control-lg" name="naiyou3" th:field="*{naiyou3}" >
								<option value=""></option>
								<option value="個人面接">個人面接</option>
								<option value="集団面接">集団面接</option>
								<option value="その他">その他</option>
							</select>
							<br />
							
							<label>結果通知&nbsp;<span class="badge badge-secondary">任意</span></label>
							<small class="form-text text-muted">いつまでに結果が通知されるかを入力してください。</small>
							<input type="date" class="form-control form-control-lg" name="kekka" th:field="*{kekka}">
							<br />
							
							<label>面接官人数&nbsp;<span class="badge badge-secondary">任意</span></label>
							<small class="form-text text-muted">面接官の人数を入力してください。</small>
							<input type="number" class="form-control form-control-lg" name="ninzu" th:field="*{ninzu}">
							<br />
							
							<label>面接時間&nbsp;<span class="badge badge-secondary">任意</span></label>
							<small class="form-text text-muted">面接にかかった時間を入力してください。</small>
							<input type="time" class="form-control form-control-lg" name="jikan" th:field="*{jikan}">
							<br />
							<hr />
						
							<label>出題内容（質問された内容）&nbsp;<span class="badge badge-danger">必須</span></label>
							<small class="form-text text-muted">面接などで聞かれたことや試験の詳しい内容を入力してください。</small>
							<textarea class="form-control" rows="5" name="syutudainaiyou" th:field="*{syutudainaiyou}"required></textarea>				
							<br />
							
							<label>教員コメント</label>
							<small class="form-text text-muted">教員からの指摘内容が表示されます。</small>
							<textarea disabled class="form-control" rows="3" name="komento"></textarea>
						</div>

						<br />
						<button type="submit" class="btn btn-primary btn-lg">編集実行</button>
					</form>
				</div>

			</main>
		</div>
	</div>
</body>
</html>